body {
  margin: 0;
  font-family: "微軟正黑體";
  font-size: 16px;
}
ul {
  margin: 0;
  padding-left: 0;
}
header {
  background: linear-gradient(rgb(255, 255, 255), rgb(220, 220, 220));
  li {
    display: inline-block;
    padding: 20px;
    &:hover {
      background: #ccc;
    }
  }
}
.cell {
  display: none;
}
.search {
  float: right;
  padding: 13px;
  &:hover {
    background-color: inherit;
  }
  input {
    border-radius: 10px;
    border: 1px #ccc solid;
    padding: 10px 5px;
    margin-right: 5px;
  }
  button {
    border-radius: 6px;
    padding: 8px 10px;
    border: 1px solid #9a9a9a;
  }
}
section {
  padding: 50px;
}
.checkbox {
  div {
    display: inline-block;
    margin: 10px;
    width: 120px;
  }
}
.table-response {
  width: 100%;
  display: block;
  overflow-x: auto;
}
th {
  background-color: #989898;
  padding: 10px;
}
td {
  background-color: #ccc;
  padding: 10px;
  white-space: nowrap;
  text-align: center;
  &:nth-child(1){
    text-align: left;
  }
}
.page {
  text-align: center;
  margin: 30px;
  div {
    display: inline-block;
    border: 1px solid #888;
    padding: 10px;
    margin: 10px 0;
    cursor: pointer;
  }
}
.active-page {
  background-color: #ccc;
}
.down {
  position: relative;
  ul {
    display: none;
    position: absolute;
    left: 0;
    top: 61px;
  }
  li {
    background: #ccc;
    padding: 10px 20px;
    cursor: pointer;
  }
  &:hover {
    li:hover {
      background-color: #df6f6f;
    }
    ul {
      display: block;
    }
  }
  li:nth-child(odd) {
    background-color: #909090;
  }
}
.down2 {
  position: relative;
  ul {
    display: none !important;
    position: absolute;
  }
  &:hover {
    ul {
      display: block !important;
      top: 0;
      left: 88px;
    }
  }
  li {
    width: 100px;
  }
}
.naxbox{
  ul{
    width: 100%;
  }
  li{
    display: block;
    width: 100%;
  }
}
// @media (max-width:660px){
//   .cell{
//     display: inline-block;
//   }
//   .cellno{
//     display: none;
//   }
//   .naxbox{
//     display: block;
//     li{
//       float: unset;
//     }
//   }
//   .search input{
//     width: calc(100% - 140px);
//   }
// }